:root {
	--required-color: #91cf60;
	--permitted-color: #ffffbf;
}

@font-face {
	font-family: 'SBL Hebrew';
	src: 'sbl-hebrew.ttf';
}

body {
	background-color: #801000;
}

#container {
	background-color: White;
}

main h2:first-child {
	margin-top: 0;
}

main h2 {
	margin-top: 1rem;
}

main h3 {
	margin-top: 0.5rem;
}


.bg-permitted, .bg-permitted:focus {
	background-color: var(--permitted-color);
}

.bg-required, .bg-required:focus {
	background-color: var(--required-color);	
}

.fit-content {
	width: fit-content;
}

.ml-05 {
	margin-left: 0.12rem !important;
}

.narrow {
	max-width: 400px;
}

.hebrew {
	font-family: 'SBL Hebrew';
	font-size: 150%;
}

#header {
	background-color: #f0f0f0;
	background-image: url('img/aleph-bet.png');
	margin-left: -15px;
	margin-right: -15px;
}

#header>* {
	background-color: white;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	width: fit-content;
}

.display-3 .hebrew {
	font-size: 130%;
}

.btn-toolbar>.border {
	margin-left: 3px;
}

.nav-pills .nav-link.active {
	background-color: var(--required-color);
	font-weight: bold;
	text-shadow: 1px 1px Black;
}